/* .box-shadow {
  position: relative;
  border: 5px solid black;
  width: 32vw;
  height: 22vw;

  background: blanchedalmond;
  padding: 1em;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
} */
.box-shadow {
  position: relative;
  float: left;

  width: 32vw;
  height: 22vw;

  padding: 1em;
  margin: 2em 10px 4em;
  background: blanchedalmond;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box-shadow:before,
.box-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}
.box-shadow p {
  font-size: 16px;
  font-weight: bold;
}

/* Lifted Corners */
.lifted {
  border-radius: 4px;
}
.lifted:before,
.lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.lifted:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

* {
  margin: 0px;
  padding: 0px;

  font-family: "Trebuchet MS";
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.card {
  position: relative;
  border: 5px solid black;
  width: 32vw;
  height: 22vw;

  background: blanchedalmond;
}

.qrcode {
  position: absolute;
  left: 24vw;
  top: 14vw;

  width: 8vw;
  height: 8vw;
}

.logo {
  position: absolute;
  top: 3vw;
  left: 4vw;

  width: 22vw;
  height: 15vw;
}

.name {
  font-size: 2vw;
  text-align: center;
}
.details {
  font-size: 1vw;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

p {
  font-size: 1.2vw !important;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
